.psrent_div {
  display: flex;
}
.right_div {
  width: 50%;
}
.icon {
  width: 5%;
  color: green;
  /* margin-top: 10px; */
  margin-left: 10px;
  margin-top: 7px;
}
.Add_employe {
  margin: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  /* font-weight: bold; */
  cursor: pointer;
}
.left_section {
  margin: 50px;
}
.search_bar {
  margin-left: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}
.left_section {
  display: flex;
}
table,
th,
td {
  border: 1px solid black;
}

.table {
  width: 100%;
  font-size: 25px;
}
.registraion {
  text-align: center;
  background-color: antiquewhite;
}
.form_Section {
  width: 30%;
  display: none;
  margin: 50px;
  background-color: aqua;
}
label {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}
input {
  padding: 5px;
}
span {
  font-size: 20px;
}
.form_label {
  background-color: aquamarine;
}
.close {
  float: right;
  cursor: pointer;
  height: 20px;
}
.button_section {
  /* float: right; */
  margin-top: 10px;
  margin-left: 450px;
}

.input_searchbar {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
